PROJECT_NAME="your-project-name"

DATABASE_URL="postgresql://postgres.your-ref:your-password@aws-0-region.pooler.supabase.com:6543/postgres?sslmode=require"
SUPABASE_JWT_SECRET="your-supabase-jwt-secret"
JWT_ALGORITHM=""

ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

SUPABASE_URL="https://your-ref.supabase.co"
SUPABASE_KEY="your-supabase-key"
